* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color:black; font-weight: bold;
    transition:background 0.5s ease, color 0.5s ease;
}
.container {
    background: rgba(0, 0, 0, 0);
    padding: 2rem;
    borderradius: 1rem;
    text-align: center;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 20px
    rgba(0, 0, 0, 0.3);
}
.time {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.quote-box p {
    font-size: 2rem;
    margin: 1rem 0;
}
button {
    background: rgba(12, 11, 11, 0.8);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    color:white;
    font-size: 1rem;
    cursor:pointer;
    transition:background0.3s;
}
button:hover {
    background: rgba(255, 255, 255, 0.4)
}
.dark {
    background: #111;
    color: #eee;
}
.dark .container {
    background: rgba(255, 255, 255, 0,1);
}